 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
h1{
    color: #232129; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; 
    margin-bottom: '0.35em' ;
}
h2{
    color: #232129; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; 
    
}
 .subheader { font-size: 26px; font-weight: 300; color: #232129;  margin-bottom: '0.35em';}

p { color: #636e72; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px;   }

