body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
overflow-x: hidden;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}
